<% include ../partials/scripts %>
<!--
<%- obj_shipment %> <br>
<%- ps %> <br>
<%- name %> <br>
<%- id_dst %> <br>
<%- goods_chicken %>
<%- store_price %>
<%- arr_packages %>
<br> -->

<header class="head-points">
  <div class="container">
    <div class="row">
      <div class="col-2 col-sm-1">
        <a href="/type_select?dot_dst=<%- id_dst %>" class="back back-link">
          <img src="../../public/img/back.svg" alt="назад">
        </a>
      </div>
      <div class="col-7 col-sm-6 col-md-7">
        <h1><%- name %></h1>
      </div>
      <div class="col-1 col-sm-4 col-md-3">
        <a href="#invoice" class="invoice-link">
          <img src="../../public/img/approve-invoice.svg" alt="накладная">
          <span class="invoice-link_text">Накладная</span>
        </a>
      </div>
      <div class="col-1 col-sm-1">
        <a href="#" class="reconnect-link">
            <img src="../../public/img/barcode.svg" alt="переподключится">
            <span class="invoice-link_text"></span>
        </a>
      </div>
    </div>
  </div>
</header> 

<section>
<div class="container">
  <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/" class="block_link">Главная</a>
          </li>
          <li class="breadcrumb-item">
            <!-- <a href="/sel_products?type=<%- type_operation %>" class="header_text"></a> -->
            <a href="#" class="header_text block_link"></a>  <!-- onclick="saveInvoice()" -->
          </li>          
          <li class="breadcrumb-item" aria-current="page">
            <!-- <a href="/sel_products?type=<%- type_operation %>"><%- name %></a>  -->
            <a href="/type_select?dot_dst=<%- id_dst %>"><%- name %></a>           
          </li>
          <li class="breadcrumb-item active">
            Категория
          </li>
        </ol>
      </nav>
  </div>

<script>
  $(document).ready(function () {
      var count_position=0;
      if (obj_shipment && obj_shipment.shipment && Object.keys(obj_shipment.shipment).length>0) {
          Object.keys(obj_shipment.shipment).map(function (tt) {
              console.log(tt);
              Object.keys(obj_shipment.shipment[tt]).map(function (id_1c_position) {
                  count_position++;
              })
          })
      };
      $('#count_product').text(count_position);

      var mySelect = $('#first-disabled2');

      $('#special').on('click', function () {
          mySelect.find('option:selected').prop('disabled', true);
          mySelect.selectpicker('refresh');
      });

      $('#special2').on('click', function () {
          mySelect.find('option:disabled').prop('disabled', false);
          mySelect.selectpicker('refresh');
      });

      $('#basic2').selectpicker({
          liveSearch: true,
          maxOptions: 1
      });
  });
</script>

<script>
setInterval(()=>{get_scan1();},500);

$('.1electpicker').selectpicker();

</script> 
  <div class="col-xs-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">

        <div class="btn-group-vertical btn-group-lg btn-lg goods-item">


        </div>
    </div>
  </div>
  
</div>
</section>

<section class="tare">
  <div class="container">
    <div class="row">
        
      <div class="offset-md-1 col-md-9">

      <div class="d-flex tare-info">
        <p>Выберите тару:</p>
        <form action="#">
          <select name="select-boxes" id="select-boxes" class="select-box"></select>
          <select name="select-quantity" id="select-quantity" class="select-box"></select>

            <script>
                $( "select" ).change(function() {

                    //if ( ( $('#select-boxes').val() != "0" ) && ( $('#select-quantity').val() != "0") ){
                        console.log("да меняем ");
                        console.log("box:",$('#select-boxes').val());
                        console.log("quantity:",$('#select-quantity').val());
                        var optionSelected = $("option:selected", this);
                        var valueSelected = this.value;
                        console.log(valueSelected,$(this).attr('id'));
                        $.ajax({
                            url: "/add_tare",
                            type: "GET",
                            dataType: "json",
                            data: {
                                tare: $('#select-quantity').val(),
                                id_tare: $('#select-boxes').val()
                            },
                            contentType: "application/json",
                            cache: false,
                            timeout: 5000,
                            complete: function () {
                                //console.log('process complete');
                            },
                            success: function (data) {
                                //console.log(data);
                                //addRow(data);
                                console.log(data);
                                //console.log('process sucess');
                            },
                            error: function () {
                                //console.log('process error');
                            }
                        });
                        // $.ajax({
                        //     url: "/change_tare",
                        //     type: "GET",
                        //     dataType: "json",
                        //     data: {
                        //         tare: $('#select-quantity').val(),
                        //         id_tare: $('#select-boxes').val()
                        //     },
                        //     contentType: "application/json",
                        //     cache: false,
                        //     timeout: 5000,
                        //     complete: function () {
                        //         //console.log('process complete');
                        //     },
                        //     success: function (data) {
                        //         //console.log(data);
                        //         //addRow(data);
                        //         console.log(data);
                        //         //console.log('process sucess');
                        //     },
                        //     error: function () {
                        //         //console.log('process error');
                        //     }
                        // });
                    //}
                });

                var arr_packages=<%- arr_packages %>;
                arr_packages["0"] ={
                    "ItemDescription":"тара не выбрана",
                    "UnitOfMeasure":"шт",
                    "Quantity":"0"
                }
                Object.keys(arr_packages).forEach(function (e) {
                    var descr= arr_packages[e].ItemDescription;
                    if (descr)
                    $('#select-boxes') .append($("<option></option>")
                        .attr("value",e)
                        .text(arr_packages[e].ItemDescription));
                });

              for(let i=0; i<31; i++){
                let option = document.createElement('option');
                option.value = i;
                option.innerText =i;
                document.getElementById('select-quantity').appendChild(option);
              }
            </script>
        </form>
      </div>
    </div>
    <div class="offset-md-1 col-md-9">
            <div class="d-flex product-count">
              <p>Количество отгруженных товаров: 
              </p>
              <p id="count_product"> 0 </p>
            </div>
        </div>
    </div>
  </div>
</section>
<!-- <a class="btn btn-invoice btn-invoice_do" href="/create_invoice" role='button' > create invoice </a> -->
<section class="invoice">
<div class="container">
  <div class="row">
    <div class="col-12">
    <div id="invoice" >
      <h5>Накладная</h5>

        <a href="#" onclick="del_order(); return false;" class="btn btn-invoice btn-invoice_del" role="button"> 
          <span class="glyphicon glyphicon-remove"></span>
            Удалить
          <span class="glyphicon glyphicon-remove"></span>
        </a>
        <a class="btn btn-invoice btn-invoice_do" href="/create_invoice" role='button'> 
          <span class="glyphicon glyphicon-ok"></span> 
            Сформировать 
          <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
    
  </div>
  </div>
</div>
</section>

<script type="text/javascript">
 function Ohran1( id ) { location.href = '/ves?dot_dst=<%- id_dst %>&ps=<%- ps %>&id_production='+id }

 function del_order() {
   if (confirm("Вы подтверждаете удаление?")) {

     $.ajax({
         url: "/del_order",
         type: "GET",
         dataType: "json",
         data: { tes: 123 },
         contentType: "application/json",
         cache: false,
         timeout: 5000,
         complete: function () {
		location.href='/';
             console.log('process complete');
         },
         success: function (data) {
             console.log(data);
             location.href = '/';
         },
         error: function () {
             //console.log('process error');
         }
     });
   }


 }

console.log("tttttttttttttt");
 var obj_shipment = <%- obj_shipment %>;
 var tare = obj_shipment.dst.tare;
  if (typeof(tare)=="undefined") { tare=0; obj_shipment.dst[tare]=0; }

 if (tare > 0){
	console.log("tare:",tare);
 }

 var goods=(<%- goods_chicken %>);
 console.log("goods:", goods);
 var price_goods ={};
 //console.log(JSON.stringify(goods));
 var rename_goods=(<%- rename_goods %>);
 var filter_goods=(<%- filter_goods %>)
 //goods.product= fun_rename_goods(rename_goods,goods.product);
 ///goods.product= fun_filter_goods(filter_goods,goods.product);

if (obj_shipment.type == 'arrival') {
     price_goods = {};
 }else {
    price_goods = (<%- store_price %>);
}

 var weight=obj_shipment.shipment.<%- ps %>;

var sort=<%- sort %>;
var new_sort={}
Object.keys(sort).sort().forEach(function(key) {
 new_sort[key] = sort[key];
});
console.log("do: ", JSON.parse(JSON.stringify(goods)));
console.log("new sort:" ,new_sort);
Object.values(new_sort).forEach(function(value) {
  Object.values(goods.product).forEach(function(arr_k,index ) { 
  //console.log("arr_k", arr_k, " value: ", value);
  if ( arr_k == value ) {
	
 var new_key=Object.keys(goods.product)[index];
 var obj_to_button={};
 console.log("index:", index);
 obj_to_button[new_key]=value;
 //console.log(obj_to_button);
 add_button(fun_rename_goods(rename_goods,obj_to_button));
 //add_button(obj_to_button);
 delete goods.product[new_key];
    }else {
	//console.log("arr_k,", arr_k, "value:", value);
	}
  })
});

//arr_new = arr_new.concat(arr);
for (var t in goods.product) {
 console.log(t);
 var obj_to_button={};
 obj_to_button[t]=goods.product[t];
 //add_button(obj_to_button);
 add_button(fun_rename_goods(rename_goods,obj_to_button));
};

 //add_button(goods.product);
 $('#select-boxes').val('ФР-00000606');
 console.log(obj_shipment.package);
 Object.keys(obj_shipment.package).map(
     function (tt) {
         c=obj_shipment.package[tt].Quantity;
         console.log("11c:",c, "tt:",tt);
         if ( c >0) {
             $('#select-boxes').val(tt);
             $('#select-quantity').val(c);
         }
         //$('#'+tt+' option:eq('+c+')').prop('selected', true);
     }
 );

 function add_button(goods_product){
  for (var k in goods_product) {
    if (goods_product.hasOwnProperty(k)) {
      var e="";
      var ep="";
      var class_btn="";
      if ( price_goods[k] && price_goods[k].Price) {
          price=price_goods[k].Price;
      }else {
          price=0;
      }
      if (weight && typeof(weight[k]) === "object"){
          summ=0;
          for (var t=0; t<weight[k].length; t++){
              var st = weight[k][t];
              summ=parseFloat(summ) + parseFloat(st);
          }
          e=summ.toFixed(3)+" кг";
          class_btn="btn btn-success btn-dot";
          ep=summ*price+"грн";
      }
      else {
          e="0.0 кг";
          ep="0.0 грн ";
          class_btn="btn btn-default btn-dot";
      }
      var  ep_с=price+" грн\\кг ";
      var r=$('<button/>').attr({
        type: "button",
        class: class_btn,
        onclick: "Ohran1('"+k+"')"
      });
    var span_id_1c = $('<span/>').attr({
        class: "btn-dot__id_1c"
    }).html(k); 
    text_button  = $('<span/>').attr({
        class: "btn-dot__name"
    }).html(goods_product[k]);
 
    r.append(span_id_1c).append(text_button)
  
    var span=$('<span/>').attr({
        class: "btn-dot__weight"    
    }).html(e);
    var span_price=$('<span/>').attr({
        class: "btn-dot__price d-none"
    }).html(ep);
    var span_ppi=$('<span/>').attr({
        class: "btn-dot__price_per_item d-none"     
    }).html(ep_с);
     
    r.append(span)
        if (Object.keys(price_goods).length>0) {
            
            r.append(span_price).append(span_ppi)
            
        }
       // r.append(span_id_1c)
    $("div.btn-group-lg").append(r);

   }
  }
}
</script>
